# Ignore the massive dataset folder
assets/

# Ignore the saved model weights and experiment folders
SUPER_SEARCH_9001_results/
baby_grid_results/
*.pth

# Ignore Slurm output log files
*.out

# Standard Python ignores
__pycache__/
*.pyc
.ipynb_checkpoints