# Ignore the massive dataset folder
assets/

# Ignore the saved model weights and experiment folders
*.pth

# Ignore Slurm output log files
*.out

# Standard Python ignores
__pycache__/
*.pyc
.ipynb_checkpoints